$color-body: #000;
$color-background: #fff;

$font-family: -apple-system, system-ui, "Helvetica Neue", Helvetica, "Segoe UI", Roboto, "Apple Color Emoji", "Segoe UI Emoji", sans-serif;
$font-weight-regular: normal;
$font-weight-bold: bold;
