@import '~@/scss/variables';
@import '~@/scss/fonts';

html {
  font-size: 100%;
  line-height: 1.5;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -ms-overflow-style: scrollbar;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 0;
  outline: none;
}

body {
  margin: 0;
  font-family: $font-family;
  font-size: 16px;
  font-weight: $font-weight-regular;
  line-height: 1.5;
  text-align: left;
  box-sizing: border-box;
  color: $color-body;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

b,
strong {
  font-weight: bolder;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  background-color: $color-background;
  color: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  display: block;
  position: relative;
  height: auto;
  padding: 20px 20px 10px;
  line-height: 70px;
  text-align: center;
  user-select: none;
  font-size: 60px;
  font-weight: $font-weight-bold;
  letter-spacing: 0.02em;
  text-transform: none;
  border-radius: 0;
  border: none;
  white-space: nowrap;

  &::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  &:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
  
  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
